/*Home*/
html, body {
    margin: 0;
    font-family:'Poppins', sans-serif;
    overflow-x: hidden;
    background: linear-gradient(89.34deg, #0000FF 27.66%, #00FFFF 133.05%);

}

h1 {
    font-size: 40px;
    font-weight: 900;
    color: #FAAB2A;
    text-align: left;
    margin-bottom: 18px;
    line-height: 35px;
    background: linear-gradient(180deg, #00FFC4 -8.89%, #00B2FF 100.73%););
    /* clip hackery */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
    margin-bottom: 15px;
    line-height: 30px;
}

p{
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    margin-bottom: 25px;
    line-height: 24px;
}

.bold{
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
    margin-bottom: 25px;
    line-height: 24px;
}

.link{
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    margin-bottom: 25px;
    line-height: 24px;
    text-decoration: underline;
}

.logo{
    cursor: pointer;
    position: relative;
    left: 9%;
    top: 40px;
    z-index: 1;
}

.menu{
    height: 32px;
    width: 44px;
    position: absolute;
    top: 54px;
    right: 8%;
    z-index: 3;
    cursor: pointer;
    fill: #ffffff;
}    

.bienvenida{
    height: 2700px;
    width: 100%;
    
}

.wrapper-bienvenida{
    max-width: 80%;
    position: relative;
    left: 0%;
    top: 2%;
    margin: 0 auto 100px auto;
}

.emojis{
    width: 317px;
    height: 366px;
    position: relative;
    left: -15px;
    top: 20%;
    z-index: 1;
    text-align: center;
    margin-bottom: 35px;
}

.equipomobile{
    width: 378px;
    height: 401px;
    text-align: center;
    margin: 0 0 0 auto;
    margin-bottom: 15px;
}

.servicios{
    width: 300px;
    height: 181px;
    text-align: center;
    margin: 0 0 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
