/*Home*/
html, body {
    margin: 0;
    font-family:'Poppins', sans-serif;
    overflow-x: hidden;
    background: linear-gradient(90.34deg, #0000FF 27.66%, #00FFFF 133.05%);

}

h1 {
    font-size: 40px;
    font-weight: 900;
    color: #FAAB2A;
    text-align: left;
    margin-bottom: 18px;
    line-height: 35px;
    background: linear-gradient(180deg, #00FFC4 -8.89%, #00B2FF 100.73%););
    /* clip hackery */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
    margin-bottom: 15px;
    line-height: 30px;
}

h3 {
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    line-height: 30px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    text-decoration: none;
}

p{
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    margin-bottom: 25px;
    line-height: 24px;
    margin-block-start: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.bold{
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
    margin-bottom: 25px;
    line-height: 24px;
}

.link{
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
    margin-bottom: 25px;
    line-height: 24px;
    text-decoration: none;
}

.logo{
    cursor: pointer;
    position: relative;
    left: 9%;
    top: 40px;
    z-index: 1;
}

.menu{
    height: 32px;
    width: 44px;
    position: absolute;
    top: 54px;
    right: 8%;
    z-index: 3;
    cursor: pointer;
    fill: #ffffff;
}    

.bienvenida{
    height: 800px;
    width: 100%;
}

.wrapper-bienvenida{
    max-width: 80%;
    position: relative;
    left: 0%;
    top: 8%;
    margin: 0 auto 50px auto;
}

.wrapper-flecha{
    position: relative;
    left: 0%;
    top: 10px;
}

.circulo{
    fill: white;
    position: absolute;
    top: -3px;
    left: 160px;
    margin: 0 auto 0px auto;
}

.circulo:hover {
    fill: #0126A9;
    cursor: pointer;
}

.circulo:hover .flecha{
    fill: white;
    cursor: pointer;
}

.circulo2{
    fill: white;
    position: absolute;
    left: 34%;
    top: 88%;
    margin: 0 auto 0px auto;
}

.flecha2{
    fill: #F4774F;
}

.circulo2:hover {
    fill: #0126A9;
    cursor: pointer;
}

.circulo2:hover .flecha{
    fill: white;
    cursor: pointer;
}

.circulo3{
    fill: white;
    position: absolute;
    left: 34%;
    top: 89%;
    margin: 0 auto 0px auto;
}

.flecha3{
    fill: #191D29;
}

.circulo3:hover {
    fill: #0126A9;
    cursor: pointer;
}

.circulo3:hover .flecha{
    fill: white;
    cursor: pointer;
}

.flecha-top{
    display: none;
    height: 45px;
    position: fixed;
    left: 85%;
    top: 90%;
    z-index: 3;
    margin: 0 auto 0px auto;
}

.emojis{
    width: 379px;
    height: 385px;
    position: relative;
    top: 80px;
    left: 7%;
    z-index: 1;
    text-align: center;
    margin: auto;
}

.equipomobile{
    width: 378px;
    height: 401px;
    background: url(img/team_mobile.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 45px 0 0 auto;
    margin-bottom: 15px;
}

.presentacion{
    height: 1780px;
    width: 100%;
}

.wrapper-es92{
    max-width: 80%;
    position: relative;
    left: 0%;
    top: 0%;
    margin: 0 auto 50px auto;
}

.wrapper-expertise{
    max-width: 80%;
    position: relative;
    left: 0%;
    top: 2%;
    margin: 0 auto 50px auto;
}

.equipomobile2{
    width: 378px;
    height: 401px;
    background: url(img/javier_mobile.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0 0 0 auto;
    margin-bottom: 15px;
}

.servicios{
    width: 300px;
    height: 181px;
    text-align: center;
    margin: 15px 0 30px auto;
}

.viveviajando{
    height: 1100px;
    width: 100%;
    background: linear-gradient(180deg, #F4C14F 0%, #F4774F 100%);;
}

.linea{ 
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 30px;
}

.wrapper-viveviajando{
    position: relative;
    left: 8%;
    top: 85px;
}

.img_viveviajando{
    width: 375px;
    height: 430px;
    background: url(img/fotoviveviajando_mobile.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0 0 15px auto;
    position: relative;
    left: 0%;
    top: 120px;
}

.wrapper-viveviajando2{
    max-width: 80%;
    position: relative;
    left: 8%;
    top: 15%;
}

.guayaquilcity{
    height: 1100px;
    width: 100%;
    background: linear-gradient(99.33deg, #219FFF -5.8%, #002640 80.51%);
}

.wrapper-guayaquilcity{
    position: relative;
    left: 8%;
    top: 8%;
}

.wrapper-guayaquilcity2{
    max-width: 80%;
    position: relative;
    left: 8%;
    top: 15%;
}

.img_guayaquilcity{
    width: 375px;
    height: 452px;
    background: url(img/armadura_mobile.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0 0 15px auto;
    position: relative;
    left: 0%;
    top: 120px;
}

.latina{
    height: 1100px;
    width: 100%;
    background: linear-gradient(180deg, #2950D3 -10.04%, #191D29 100%);;
}

.wrapper-latina{
    position: relative;
    left: 8%;
    top: 8%;
}

.img_latina{
    width: 378px;
    height: 480px;
    background: url(img/latina_mobile.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0 0 15px auto;
    position: relative;
    left: 0%;
    top: 100px;
}

.wrapper-latina2{
    max-width: 80%;
    position: relative;
    left: 8%;
    top: 12%;
}

.clientes{
    height: 700px;
    width: 100%;
    background: #ffffff;
}

.wrapper-clientes{
    max-width: 80%;
    position: relative;
    left: 8%;
    top: 8%;
}

.img_clientes{
    width: 323px;
    height: 255px;
    background: url(img/logos_clientes_es92.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0 auto 15px auto;
    position: relative;
    left: 0%;
    top: 90px;
}

.clientes h3{
    color: #0000FF;
}

.clientes p{
    color: #545454;
    margin-top: 20px;
}

.contacto{
    height: 520px;
    width: 100%;
}

.wrapper-contacto{
    position: relative;
    left: 10%;
    top: 14%;
    margin-bottom: 70px;
}

.wrapper-contacto2{
    position: relative;
    left: 10%;
    top: 8%;
}

.contacto h3{
    margin-top: 20px;
    position: relative;
    left: 10%;
    top: 8%;
    background: linear-gradient(180deg, #00FFC4 -8.89%, #00B2FF 100.73%););
    /* clip hackery */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contacto p{
    margin-bottom: 10px;
}

.footer{
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    line-height: 24px;
    position: relative;
    left: 10%;
    top: 15%;
}

@media only screen and (min-width: 768px) {

    h1 {
        font-size: 65px;
        font-weight: 900;
        margin-bottom: 30px;
        line-height: 60px;
    }

    .bienvenida{
        height: 1000px;
        width: 100%;
    }

    .wrapper-bienvenida{
        max-width: 80%;
        position: relative;
        left: 0%;
        top: 2%;
        margin: 0 auto 80px auto;
    }

    .emojis{
        width: 501px;
        height: 504px;
        position: relative;
        top: 50px;
        left: 20%;
    }

    .titulo-principal br{
        display: none;
    }
    
    .descripcion-bienvenida br{
        display: none;
    }

    .equipomobile{
        width: 433px;
        height: 419px;
        background: url(img/team_tablet.png);
        background-size: cover;
        background-position: center;
        text-align: center;
        margin: 0 0 0 0;
        margin-bottom: 15px;
        position: relative;
        top: -450px;
        left: -7%;
    }

    .presentacion{
        height: 1200px;
        width: 100%;
    }
    
    .wrapper-es92{
        max-width: 40%;
        position: relative;
        left: 55%;
        top: 0%;
        margin: 0 0 50px 0;
    }

    .wrapper-expertise{
        max-width: 40%;
        position: relative;
        top: -250px;
        left: 7%;
        margin: 0px 0px 50px 0px;
    }
    
    .equipomobile2{
        width: 442px;
        height: 423px;
        background: url(img/javier_tablet.png);
        background-size: cover;
        background-position: center;
        text-align: center;
        margin: 0 0 0 auto;
        margin-bottom: 15px;
        position: relative;
        top: -700px;
        left: 8%;
    }

    .viveviajando{
        height: 1200px;
        width: 100%;
        background: linear-gradient(180deg, #F4C14F 0%, #F4774F 100%);;
    }

    .img_viveviajando{
        width: 733px;
        height: 575px;
        background: url(img/fotoviveviajando_tablet.png);
        background-size: cover;
        background-position: center;
        text-align: center;
        margin: 0 0 15px auto;
        position: relative;
        left: -5%;
        top: 120px;
    }

    .circulo2{
        fill: white;
        position: absolute;
        left: 15.5%;
        top: 83%;
        margin: 0 auto 0px auto;
    }

    .guayaquilcity{
        height: 1300px;
        width: 100%;
        background: linear-gradient(99.33deg, #219FFF -5.8%, #002640 80.51%);
    }

    .img_guayaquilcity{
        width: 686px;
        height: 671px;
        background: url(img/armadura_tablet.png);
        background-size: cover;
        background-position: center;
        text-align: center;
        margin: 0 0 15px auto;
        position: relative;
        left: 0%;
        top: 160px;
    }

    .circulo3{
        fill: white;
        position: absolute;
        left: 16%;
        top: 83%;
        margin: 0 auto 0px auto;
    }

    .latina{
        height: 1300px;
        width: 100%;
        background: linear-gradient(180deg, #2950D3 -10.04%, #191D29 100%);;
    }

    .img_latina{
        background: url(img/latina_tablet.png);
        background-size: cover;
        background-position: center;
        width: 815px;
        height: 626px;
        text-align: center;
        margin: 0 0 70px auto;
        position: relative;
        left: 0%;
        top: 100px;
    }

    .clientes{
        height: 600px;
        width: 100%;
        background: #ffffff;
    }

    .img_clientes{
        width: 590px;
        height: 269px;
        background: url(img/logos_clientes_es92_tablet.png);
        background-size: cover;
        background-position: center;
        position: relative;
        left: -2%;
        top: 80px;
    }

    .clientes br{
        display: none;
    }

    .wrapper-contacto{
        position: relative;
        left: 40%;
        top: 20%;
        margin-bottom: 70px;
    }
    
    .wrapper-contacto2{
        position: relative;
        left: 70%;
        top: -25%;
    }

    .footer{
        font-size: 12px;
        font-weight: 400;
        color: #ffffff;
        text-align: left;
        line-height: 24px;
        position: relative;
        left: 30%;
        top: -10%;
    }

    .contacto{
        height: 390px;
        width: 100%;
    }
    
}

@media only screen and (min-width: 1200px) {

    html, body {
        margin: 0;
        font-family:'Poppins', sans-serif;
        overflow-x: hidden;
        background: linear-gradient(91.55deg, #0000FF 38.7%, #00FFFF 98.6%);
    
    }

    h1 {
        font-size: 90px;
        font-weight: 900;
        margin-bottom: 30px;
        line-height: 75px;
    }

    .titulo-principal br{
        display: block;
    }

    .logo{
        cursor: pointer;
        position: relative;
        left: 9%;
        top: 60px;
        z-index: 1;
    }
    
    .menu{
        height: 35px;
        width: 47px;
        position: absolute;
        top: 68px;
        right: 8%;
        z-index: 3;
        cursor: pointer;
        fill: #ffffff;
    }    

    .bienvenida{
        height: 680px;
        width: 100%;
    }

    .wrapper-bienvenida{
        max-width: 38%;
        position: relative;
        left: 0%;
        top: 8%;
        margin: 0 0px 80px 125px;
    }

    .circulo2{
        fill: white;
        position: absolute;
        left: 28%;
        top: 87%;
        margin: 0 auto 0px auto;
    }

    .circulo2:hover {
        fill: #F2F2F2;
        cursor: pointer;
    }

    .middle{
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
    }

    .mouse{
        width: 20px;
        height: 33px;
        border: 2px solid #01D6E4;
        border-radius: 80px;
    }

    .mouse::before{
        content: "";
        width: 6px;
        height: 6px;
        position: absolute;
        top: 10px;
        background: #01D6E4;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        opacity: 1;
        animation: mouse 1.2s infinite;
    }

    @keyframes mouse {
        from{
        opacity: 1;
        top: 9px;
        }
        to{
        opacity: 0;
        top: 30px;
        }
    }

    .emojis{
        width: 620px;
        height: 623px;
        position: relative;
        top: -500px;
        left: 50%;
    }

    .equipomobile{
        width: 858px;
        height: 770px;
        background: url(img/team_1200.png);
        background-size: cover;
        background-position: center;
        text-align: center;
        margin: 0 0 0 0;
        margin-bottom: 15px;
        position: relative;
        top: -300px;
        left: -7%;
    }

    .presentacion{
        height: 1850px;
        width: 100%;
    }

    .wrapper-es92{
        max-width: 28%;
        position: relative;
        left: 59%;
        top: 280px;
        margin: 0 20px 50px 20px;
    }

    .equipomobile2{
        width: 906px;
        height: 770px;
        background: url(img/javier_1200.png);
        background-size: cover;
        background-position: center;
        text-align: center;
        margin: 0 0 0 auto;
        margin-bottom: 15px;
        position: relative;
        top: -600px;
        left: 8%;
    }

    .wrapper-expertise{
        max-width: 28%;
        position: relative;
        top: 30px;
        left: 7%;
        margin: 0px 0px 50px 0px;
    }

    .viveviajando{
        height: 950px;
        width: 100%;
        background: linear-gradient(180deg, #F4C14F 0%, #F4774F 100%);;
    }

    .linea{ 
        position: relative;
        left: -120px;
        top: 53px;
        margin-bottom: 30px;
    }

    .wrapper-viveviajando{
        position: relative;
        left: 49%;
        top: 200px;
        z-index: 1;
    }

    .img_viveviajando{
        width: 844px;
        height: 690px;
        background: url(img/fotoviveviajando_1200.png);
        background-size: cover;
        background-position: center;
        text-align: center;
        margin: 0 0 15px auto;
        position: relative;
        left: -42%;
        top: 20px;
    }

    .wrapper-viveviajando2{
        max-width: 25%;
        position: relative;
        left: 62%;
        top: -43%;
    }

    .latina{
        height: 1050px;
        width: 100%;
        background: linear-gradient(180deg, #2950D3 -10.04%, #191D29 100%);;
    }

    .wrapper-latina{
        position: relative;
        left: 49%;
        top: 200px;
        z-index: 1;
    }

    .img_latina{
        width: 891px;
        height: 700px;
        background: url(img/latina_1200.png);
        background-size: cover;
        background-position: center;
        text-align: center;
        margin: 0 0 15px auto;
        position: relative;
        left: -42%;
        top: 50px;
    }

    .wrapper-latina2{
        max-width: 25%;
        position: relative;
        left: 62%;
        top: -35%;
    }

    .clientes{
        height: 800px;
        width: 100%;
        background: #ffffff;
    }

    .wrapper-clientes{
        max-width: 20%;
        position: relative;
        left: 8%;
        top: 30%;
    }

    .img_clientes{
        width: 705px;
        height: 492px;
        background: url(img/logos_clientes_es92_1200.png);
        background-size: cover;
        background-position: center;
        position: relative;
        left: 16%;
        top: -70px;
    }

    .clientes br{
        display: block;
    }
    

}